
 <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{!-- <div class="col-lg-2">
            <h4>Lọc</h4>
            <p>Danh sách</p>
            <div class="checkbox">
                <p> <input type="radio" name="checkbox-1" id="checkbox-1"> <span class="text-checkbox">tất cả </span> </p>
                <p>  <input type="radio" name="checkbox-1" id="checkbox-1"><span class="text-checkbox">Ngoại ngữ</span> </p>
                <p> <input type="radio" name="checkbox-1" id="checkbox-1"> <span class="text-checkbox">Phát triển bản thân</span>  </p>
                <p> <input type="radio" name="checkbox-1" id="checkbox-1"><span class="text-checkbox">Nghệ thuật đời sống </span> </p>
            </div>
        </div> --}}
        {{!-- <div class="col-lg-8"> --}}
            {{#each course }}
            <div class="card-group">
                <div class="card">
                    <a href="/courses/{{this.slug}}">
                        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <p class="card-text text-course">{{this.course}}</p>
                        <a href="/courses/{{this.slug}}" class="text-name">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text search-description"  >{{this.description}}</p>
                        <p class="card-coin px-3">{{this.price}}VND</p>
                        
                        <a href="/courses/{{this.slug}}" class="btn btn-primary">Thông tin khóa học</a>
                    </div>
                </div>
            </div>
            {{/each}}
        {{!-- </div> --}}

    </div>
</div>
  <script>
    
  </script>